html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */


/* shoe grid */
.shoe-grid-container {
	width: 80%;
	padding: 20px 50px 0 20px;
}

.shoe-header-title {
	padding: 2px;
	color: white;
	background: #3baf28;
	text-align: center;
}

.shoe-grid {
	padding: 5px 20px 5px 20px;
}

.shoe-grid-items {
	list-style-type: none;
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
}

.shoe-style-title {
	text-align: left;
	border-bottom: 1px solid gray;
	font-size: 30px;
}


/* shoe details */

.shoe-details {
	width: 200px;
	border-right: 1px solid gray;
	padding-right: 80px;
	margin: 20px 60px 0 0;
}

.shoe-details:nth-child(5n) {
	border-right: 10px solid blue;
}

.shoe-details-brand, .shoe-details-size {
	font-family: Verdana;
	font-weight: bold;
}

.shoe-details-brand {
	font-size: 22px;
	text-transform: uppercase;
}

.shoe-details-size {
	font-size: 18px;
}


/* buttons */
.shoe-add-btn {
	background-color: #3baf28;
	width: 100%;
}

.shoe-add-btn p {
	padding: 3px 0 3px 24px;
	font-size: 20px;
	cursor: pointer;
	color: blue;
	font-family: Verdana;
	font-weight: bold
}

.shoe-add-btn p:hover {
	color: white;
}

/* shoe-form */
.shoe-form {
	padding: 0 0 16px 20px;
}

.shoe-form label {
	margin-right: 16px;
}
